.spacer {
  flex: 1 1 auto;
}

.order-container {
  display: flex;
  justify-content: space-between;
  margin: 16px;
}

.order-column {
  flex: 1;
  margin: 0 8px;
}

.order-card {
  margin: 8px 0;
}
